/*nothing*/
input, button {
    min-width: 80px;
    border-radius: 3px;
    border: 1px solid #5f96fb;
    padding: 3px 0;
    background: white;
}

input + input {
    margin-left: 10px;
}

html, body {
    font-size: 16px;
    height: 100%;
}

.topic, .main {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    height: 100%;
    overflow: auto;
}

.topic {
    border-left: 1px solid grey;
}
.apply-link {
    cursor: pointer;
}