<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>狮王争霸test</title>

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/main.css" rel="stylesheet"></link>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
</head>
<body>
<div class="main">

    <h1 id="status">离线</h1>
    <form th:action="@{/logout}" method="post">
        <b>用户:</b>
        <span th:inline="text" id="playerId">
            [[${#httpServletRequest.remoteUser}]]
        </span>
        <input type="submit" value="退出登录"/>
    </form>
    <br>
    <b>房间ID：</b><span id="roomId">未进入房间</span>
    <br>
    <b>房间人员：</b><span id="roomPlayers">未进入房间</span>
    <br>
    <div>
        <button id="createRoom" style="display: none">开一房间</button>
        <button id="waiting" style="display: none">吼一声</button>
        <button id="exitRoom" style="display: none">退出房间</button>
        <button id="apply" style="display: none">邀请</button>
    </div>
    <div id="fighting" style="display: none">
        <div id="msg" style="overflow: auto"></div>
    </div>
    <b>答题倒计时：</b><span id="countDown"></span>
</div>
<div id="topic" class="topic">

</div>
</body>
</html>